<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Adonis Vue Starter</title> 
</head>
<body style=" background:#eee; font-family:'calibri'">
    <main id="app"></main>
    <script>
        window.basePath = "{{ absoluteUrl() }}/api/v1";
    </script>
    {{ script('js/app') }}
</body>
</html>